.row{
    width: 100%;
}
.foot{
    width: 100vw;
    background-color:rgb(63, 74, 85);
    color: white;
}

#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.ul1{
    list-style-type: none;
    
}
.f1{
    text-decoration: none;
    color:white;
}
.f1:hover{
    color:rgb(111, 111, 198);
    font-size: medium;
}


.icon:hover{
    background-image:linear-gradient(to bottom right,blue,red,violet);
  
  }
  .icon:hover i{
    color: white;
    animation: shake 0.75s;
  }
  @keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
    
  }
  #foot2{
    background-color:rgb(33, 41, 50);
   
    border-bottom:1px solid;
  }
 
  .icon-set{
    display: flex;
    justify-content:center;
    align-items: center;
    
   
  }
.icon{
    font-size: 3vw;
   border-radius: 50%;
}
.icon i{
    color:#7f7cd8;
    padding: 10px;
}
#fol{
    font-family: 'Monoton';
    text-align: center;
    font-size: 2vw;
}
#fol:hover{
    color: #fe1e4f;

}
.cp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 10PX;
}
.cp:hover{
    color:rgb(181, 14, 14)
}
/* .navbar{
    width: 100%;
    height: 100px;
} */
body{
    background-image:  linear-gradient(rgba(249, 249, 249, 0.7),rgba(165, 156, 156, 0.7)),  url("background\ image.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    width:100%;
   
}

video{
width:100%;

}

.foot{
   
   
    max-width: 100%;
    background-color:rgb(63, 74, 85);
    color: white;
}

#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.ul1{
    list-style-type: none;
    
}
.f1{
    text-decoration: none;
    color:white;
}
.f1:hover{
    color:rgb(111, 111, 198);
    font-size: medium;
}


@media(max-width: 425px){
    #footerp{
        font-size: 3vw;
        width: 100%;
    }
}
@media(max-width: 627px){
    .navbar img{
        width: 20vw;
    
    }
}
@media(max-width: 193px){
    .nav{
        width: 10vw;
    
    }
}
@media(max-width: 67px){
    .navbar-toggler-icon{
        width: 25vw;
    
    }
}
@media(max-width: 166px){
    .f1{
        font-size: 8vw;
    
    }
}
@media(max-width: 166px){
    .gs{
        font-size: 9vw;
    
    }
}
@media(max-width: 103px){
    .subs{
        font-size: 15vw;
    
    }
}
@media(max-width: 103px){
    .icon i{
       padding: 1px;
    
    }
}





.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    justify-content: center;
    align-content: center;
    margin: 20px;
  }
  
  .gallery > img {
    width: 150px;
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    transform: scale(1);
    cursor: pointer;
    opacity: .8;
    transition: .2s linear;
  }
  
  .gallery > img:hover {
    opacity: 1;
    transform: scale(1.2);
  }
  
  .j{
  
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  @media(max-width: 685px){
      .j img {
          
          width: 20vw;
         
          padding: 0%;
          gap: 0px;
         
  }}
  #freebut{
    width: 9vw;
    font-size: 1vw;
    margin-left: 45%;
  }


  #booknowOffcanvas{
    background-image: linear-gradient(rgb(203, 126, 141),rgba(130, 189, 139, 0.7))
}

    @media(max-width: 263px){
        input::placeholder {
        font-size: 5vw;
        }
    }


 /*    #signInOffcanvas{
        background-image: url("Miraflores\ em\ Lima.jpg");
        background-size: 100% 100%;
      height: 200px;
      width: 15vw;
    }
     */
    input{
        width: 5vw;
        margin: auto auto;
        background-color: rgb(57, 57, 84);
        
    }
    
    
    @media(max-width: 1462px){
        input::placeholder {
        font-size: 10px;
        }
    }
   
   /*  @media(max-width: 761px){
        .signbut {
        font-size: .5vw;
        }
    }
    @media(max-width: 1041px){
        .signbut {
        font-size: .5vw;
        }
    }
    
    
    
    @media(max-width: 418px){
        #signInOffcanvas {
        height: 150px;
        width: 50px;
        }
    }
    @media(max-width: 121px){
        #signInOffcanvas {
        display: none;
        }
    } */